{% extends 'lhs_calendar/layout.html' %}
{% block breadcrumbs %}
<li class="breadcrumb-item"><a href="{{url_for('calendar.index', _external=False)}}">{{url_for('calendar.index', _external=False)[1:-1]}}</a></li>
    <li class="breadcrumb-item active">about</li>
{% endblock %}
{% block content %}
    <div class='card text_card card-body page_item'>
        <p>Hi! I'm <a href='/home'>Franca Ellerman</a> and I'm in the class of 2023 at Lexington High School, MA.</p>
        <p>I want to thank</p>
        <ul>
            <li>Nathaniel Dvorkin '23 for improving the graphic design of Quickly in 30 seconds better than I did in 30 hours,</li>
            <li>Vikram Anantha '24 for being more on top of the quarter schedules than me,</li>
            <li>those who educated me on Special Education classes for the lunch schedule,</li>
            <li>Gabriel Savir '23 and many others who helped me so much with testing the site and promoting Quickly (even if one insisted on calling it "Frankly"),</li>
            <li>Ben Borgers '21 for starting this beautiful, possibly annoying, tradition of forcing LHS to adopt a new schedule app every year or two,</li>
            <li>Ali Mosallaei '22 for continuing it and inspiring Quickly's connections feature,</li>
            <li>and especially my dad for setting up my servers and all of the advice.</li>
        </ul>
        <p>I remember sophomore year thinking that Ben Borgers was so cool for getting so many people to use his app and having such beautiful web design, and that there was no way I could make something that cool. Nearly 1,200 users later, Quickly has transformed how I view myself and what I'm capable of in a school community that so often restricts what is considered success and what successful people look like.</p>
        <p>You can <a href='https://www.instagram.com/francaellerman/' target="_blank">follow me on <i class="bi bi-instagram"></i></a> if you want, but I rarely post.</p>
    </div>
{% endblock %}
