{% extends 'layout.html' %}
{% block vue %}
    </head>
        <body>
{% endblock %}
{% block title %}
    franca.link
{% endblock %}
{% block description %}
    <p>by Franca Ellerman</p>
{% endblock %}
{% block content %}
    <div class='card card-body page_item title_card'>
        <h2><img src='{{url_for('connections.static', filename='Icon.png')}}'> <a href='connections'>LHS 2023 Connections</a></h2>
        <p>See who's in your classes next year</p>
    </div>
    <div class='card card-body page_item title_card'>
        <h2><img src='{{url_for('calculator.static', filename='Icon.png')}}'> <a href='calculator'>LHS Admissions Calculator</a></h2>
        <p>See what percent of LHS students with your GPA and SAT historically got into various colleges</p>
    </div>
    <div class='card card-body page_item title_card'>
        <h2><a class='disabled'>Yet Another Blocks Replacement</a></h2>
        <p>Coming Soon</p>
    </div>
{% endblock %}
