{% extends 'layout.html' %}
{% block title %}
    LHS 2023 Connections
{% endblock %}
{% block description %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/home">franca.link</a></li>
            <li class="breadcrumb-item"><a href="/connections">connections</a></li>
            <li class="breadcrumb-item active">about</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <div class='card text_card card-body page_item'>
        <p>Hi! I'm <a href='/home'>Franca Ellerman</a>, a rising senior at Lexington High School.</p>
        <p>Ahh!! Why did you get rid of my connections?? I'm sorry. But many people seem to be trying to upload their real school schedules to LHS 2023 Connections. Connections is also out-of-date anyways. Share Quickly with people and maybe you'll see some of your old connections again!</p>
        <p>This app's name was inspired by "connections" on Daily by Ali Mosallaei.</p>
    </div>
{% endblock %}
